<section class="todo-task-search flex flex-row justify-between">
    <div class="main-content flex flex-col justify-start">
        <div class="title">
            Search
        </div>
        <div class="introduction">
            Hi <strong>{{ user.firstName ? user.firstName : 'user' }}</strong>! Found {{ todoTasks!.length |
            i18nPlural: todoTasksQuantityTextMapping }} for "{{ key }}".
        </div>
        <div class="all-todo-tasks">
            @for (todoTask of todoTasks; track todoTask.id) {
            <app-task-item [content]="todoTask.name" [subtaskQuantity]="todoTask.todoSubtasks.length"
                [tags]="todoTask.tags" [isDone]="todoTask.isDone" [isImportant]="todoTask.isImportant"
                [isSelectedItem]="true" (taskItemEventEmitter)="openTaskItemDetails(todoTask)"
                (doneTaskEventEmitter)="toggleDoneTask($event, todoTask)"
                (importantTaskEventEmitter)="toggleImportantTask($event, todoTask)"></app-task-item>
            }
        </div>
    </div>
    <div class="right-sidebar">
        <app-task-details-sidebar
            [isCollapsed]="rightSidebarCollapsed" (notifyCollapsedEventEmitter)="toggleRightSidebarCollapsed($event)"
            (notifyUpdateTodoTaskEventEmitter)="notifyUpdateTodoTask()" [todoTask]="selectedTodoTask" [user]="user"
            [taskDetailsType]="taskDetailsType"></app-task-details-sidebar>
    </div>
</section>