@use "../../../../../public/assets/sass/abstracts/variables";

.menu-task-items {
    font-size: 15px;
    width: 100%;
    justify-content: space-between;
    padding: 7px 10px;
    border-radius: 7px;

    &.menu-task-items-collapsed {
        width: fit-content;
        height: 37px;
    }

    &:hover {
        background-color: variables.$grey-50;
    }

    &.selected {
        background-color: variables.$grey-100;
    }

    .number-badge {
        font-weight: 600;
        width: 36px;
        height: 22px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        background-color: variables.$grey-100;
        
        &.selected {
            background-color: variables.$surface-50;
        }
    }
}