<section class="verify-email">
    <div class="content">
        <div class="title">
            Verify Your Email
        </div>
        <div class="flex flex-col items-center">
            <div class="notification">
                Your code was sent to you via <strong>{{ email() }}</strong>
            </div>
            <app-input-otp (changeOtpInputEventEmitter)="onOtpChange($event)"></app-input-otp>
            <div class="otp-timer">
                Code will expire within
                <app-countdown-timer #cdOtp [config]="configCdOtp" localStorageVariable="countdownTimeOtp"
                    (onDoneEventEmitter)="onCdOtpDone($event)"></app-countdown-timer>
            </div>
            <app-button (click)="verifyCode()" [disabled]="this.otpValue.length !== 6">VERIFY</app-button>
            <div class="error-message">{{ errorMessage() }}</div>
            <div class="request-again">
                Didn’t receive code? <span class="request-again-link" [class.active]="!isRequested"
                    (click)="sendRequest()">Request again</span>
                <span class="request-again-timer" [class.hidden]="!isRequested"> in
                    <app-countdown-timer #cdRequest [config]="configCdRequest" localStorageVariable="countdownTimeRequest"
                        (onDoneEventEmitter)="onCdRequestDone($event)"></app-countdown-timer>
                </span>
            </div>
        </div>
    </div>
</section>