@use "../../../../../public/assets/sass/abstracts/variables" as vars;
@use "../../../../../public/assets/sass/abstracts/mixins" as mixins;

.task-item {
    padding: 5px 0px;
    border-top: 2px solid vars.$grey-100;

    .task-item-content {
        padding: 5px 10px;

        &.selected {
            background-color: #e9e8e84d;
        }

        .checkbox {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            margin-top: 3px;
            accent-color: vars.$success-300;

            @include mixins.responsive(xs) {
                width: 10px;
                height: 10px;
            }
        }

        svg.important {
            margin-right: 10px;

            path {
                fill: #fff;
            }

            &.checked {
                path {
                    fill: #EE9322;
                }
            }
        }

        .task-content {
            font-size: 16px;
        }

        .task-details {
            margin-top: 12px;
            font-size: 14px !important;

            .subtasks {
                margin-right: 20px;

                .number-badge {
                    margin-right: 6px;
                    align-items: center;
                    font-weight: 600;
                    width: 40px;
                    height: 20px;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    background-color: vars.$grey-100;
                }
            }

            .tags {
                overflow: hidden;
                cursor: grab;
                user-select: none;
            }
        }
    }
}