$primary-50: #DBCDFD;
$primary-100: #B99CFC;
$primary-200: #7D49F8;
$primary-300: #6528F7;
$primary-400: #501BCE;

$primary-50: #DBCDFD;
$primary-100: #DBCDFD;
$primary-200: #DBCDFD;
$primary-300: #DBCDFD;
$primary-400: #DBCDFD;

$secondary-50: #D2E2F9;
$secondary-100: #77A9EE;
$secondary-200: #1C6FE3;
$secondary-300: #1450A3;
$secondary-400: #114388;

$surface-50: #FCFCFC;
$surface-100: #F7F9FD;
$surface-200: #66707A;
$surface-300: #33383D;
$surface-400: #202327;

$danger-50: #FEDCDC;
$danger-100: #FD9696;
$danger-200: #FB4F4F;
$danger-300: #B70404;
$danger-400: #910303;

$success-50: #DFFAF2;
$success-100: #9EF1D8;
$success-200: #1ABD8C;
$success-300: #12825F;
$success-400: #107555;

$warning-50: #FDF3E6;
$warning-100: #F9DBB5;
$warning-200: #F2AB53;
$warning-300: #EE9322;
$warning-400: #C7760F;

$grey-50: #F8F8F8;
$grey-100: #E9E8E8;
