@use "../../../../../public/assets/sass/abstracts/variables";

label {
    font-size: 24px;

    &.required {
        &::after {
            padding-left: 5px;
            content: '*';
            color: variables.$danger-300;
        }
    }
}

input {
    font-size: 16px;

    border: 1px solid variables.$surface-200;
    border-radius: 8px;
    padding: 12px 16px;

    &::placeholder {
        color: variables.$surface-200;
    }

    &.error {
        border-color: variables.$danger-200;
    }
}