@use "../../../../../public/assets/sass/abstracts/variables";

.search-input {
    margin-left: 15px;
    font-size: 15px;

    &::placeholder {
        color: variables.$surface-200;
    }
}

button {
    svg {
        cursor: pointer;

        &:hover {
            path {
                stroke: #000;
            }
        }
    }

    &.button-search-collapsed {
        height: 36px;
    }
}

.search-select {
    width: 100%;
    margin-left: 10px;
    font-size: 15px;

    &.search-select-collapsed {
        display: none;
    }

    ::ng-deep.ng-select-container {
        box-shadow: none !important;
        border: none !important;
        background-color: transparent;

        &:hover {
            box-shadow: none;
        }

        .ng-value-container {
            padding: 0 !important;

            .ng-input {
                padding: 0 !important;

            }
        }

        .ng-arrow-wrapper {
            display: none;
        }
    }
}