main {
    font-family: "Roboto", sans-serif;

    > ::ng-deep app-shell {
        width: fit-content;
        display: flex;
        flex: 1;
        padding: 25px 30px;
        width: 100%;

        > :nth-child(3) {
            flex: 1;
        }
    }
}