@use "../../../../../public/assets/sass/abstracts/variables";

.sidebar {
    width: 250px;
    height: 100%;
    background-color: variables.$grey-50;
    padding: 20px 15px;
    border-radius: 5px;
    transition: width .6s;

    &.sidebar-collapse {
        width: 76px;
        transition: width .6s;
    }

    .menu-title {
        font-size: 23px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 4px;
        transition: all 0.6s;

        &.menu-title-collapsed {
            font-size: 18px;
            margin-left: 0;
            transition: all 0.6s;
        }
    }

    .search-section {
        margin-left: 10px;
        margin-top: 8px;
    }

    .menu-task-section {
        margin-top: 25px;

        .menu-task-title {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 4px;
        }
    }

    .tags-list {
        margin-top: 25px;
        max-height: 170px;
        height: 170px;
        overflow-y: auto;
        overflow-x: hidden;

        .tags-list-title {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}