/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "@ng-select/ng-select/themes/default.theme.css";
@use "ng-zorro-antd/ng-zorro-antd.min.css";

body {
    &.prevent-click {
        app-sidebar {
            pointer-events: none;
        }

        .main-content {
            pointer-events: none;
        }

        .right-sidebar {
            pointer-events: auto;
        }
    }
}