@use "../../../../public/assets/sass/abstracts/variables";

.avatar-profile {
    .avatar-img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
    }

    .fullname {
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
    }

    .username {
        font-size: 14px;
        color: variables.$surface-200;
    }
}