.avatar-profile {
    .avatar-img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
    }

    .username {
        font-size: 24px;
        font-weight: bold;
    }
}