@use "../../../../public/assets/sass/abstracts/variables" as vars;
@use "../../../../public/assets/sass/abstracts/mixins" as mixins;

.avatar-profile {
    .avatar-img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
        width: 32px;
        height: 32px;
        transition: all .6s;

        @include mixins.responsive(xs) {
            
        }

        &.avatar-img-collapsed {
            width: 22px;
            height: 22px;
            transition: all .6s;
        }
    }

    .fullname {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
    }

    .username {
        font-size: 11px;
        color: vars.$surface-200;
    }

    &.avatar-profile-collapse {
        height: 42px;
        
        .fullname, .username {
            display: none;
        }
    }
}