<button [type]="buttonAction()"
    [class]="{'btn-default': buttonType() === 'Default', 'btn-cancel': buttonType() === 'Cancel', 'btn-ok': buttonType() === 'Ok', 'btn-outline': buttonType() === 'Outline'}"
    [style.padding]="buttonSize() === 'sm' && '0'"
    [style.width]="buttonSize() === 'sm' && '95px'"
    [style.min-width]="buttonSize() === 'sm' && '95px'"
    [class.disabled]="disabled()"
    [disabled]="disabled()">
    <span [style.font-size]="buttonSize() === 'sm' && '14px'">
        <ng-content></ng-content>
    </span>
</button>