@use "../../../../../public/assets/sass/abstracts/variables";

button {
    background-color: variables.$surface-400;
    color: variables.$surface-50;
    padding: 12px 0px;
    border-radius: 8px;
    width: 100%;
    min-width: 135px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-default {
        background-color: variables.$surface-400;

        &:hover {
            background-color: variables.$surface-200;
            transition: .4s background-color;
        }
    }

    &.btn-cancel {
        background-color: variables.$surface-200;

        &:hover {
            background-color: variables.$surface-300;
            transition: .4s background-color;
        }
    }

    &.btn-ok {
        background-color: variables.$warning-200;

        &:hover {
            background-color: variables.$warning-300;
            transition: .4s background-color;
        }
    }

    &.btn-outline {
        background-color: #fff;
        color: #202327;
        border: 1px solid #202327;
    }

    &.disabled {
        background-color: variables.$surface-200 !important;
        cursor: not-allowed;
    }
}